.card-list {
	width: 85vw;
	border: red 2px solid;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(200px, 1fr)
	); /* Adjust column size based on available space */
	grid-gap: 20px;
	padding: 10px;
}
